<section id="about">
    <div class="container px-4">
        <div class="row gx-4">
            <div class="text-center">
                <h2>Perfil</h2>
            </div>
            <hr>
        </div>
        <div class="row mt-4">
            <div class="col-md-4 offset-md-2">
                <img src="assets/imagenes/perfil.png" alt="perfil" height="50%">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li><b>Nombre: </b> Cristian Nieto</li>
                            <li><b>Profesión: </b> Ingeniero de Sistemas</li>
                            <li><b>País: </b> Colombia</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li><b>Edad: </b> 25 Años</li>
                            <li><b>Experiencia: </b>3 años de experiencia</li>
                            <li><b>Email: </b> cristianieto21@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</section>